* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  height: 100vh;
}

p {
  color: rgb(149, 149, 149);
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 500;
  font-size: 10px;
}

p span {
  color: rgb(246, 155, 28);
  font-weight: lighter;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
}

p {
  /* Estilos iniciales */
 font-size: 12px;
  object-fit: cover;
  border-radius: 360px;
  cursor: pointer;

  transition-duration: 0.8s; /* Agregar una duración de transición por defecto */
  transition-timing-function: ease-out; /* Agregar una función de temporización por defecto */
  animation-name: hover-animation;
  animation-duration: 3.2s; /* Duración total de la animación */
  animation-iteration-count: infinite; /* Repetición infinita */
  animation-direction: alternate; /* Alternar la dirección de la animación */
}

@keyframes hover-animation {
  0% {
    transform: scale(1) translateY(0); 
    font-size: 15px;/* Escala y posición inicial */
    color: rgba(0, 0, 0, 0.531);
  }
  50% {
    transform: scale(1.05) translateY(-10px); /* Escala y posición durante la animación (hacia arriba) */
  }
  100% {
    transform: scale(1) translateY(0);
    font-size: 20px; /* Escala y posición final (vuelve a la posición original) */
  }
}
