* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

main {
  height: 100vh;
  background-color: rgb(246, 241, 235);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: column;
}

.main-user-inputs {
  background-color: rgb(246, 241, 235);
  border: 1px solid black;
  width: 1250px;
  height: 10vh;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.main-user-inputs input {
  padding: 10px;
  width: 250px;
  border: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

#checkbox-container {
  padding: 10px;
  height: 34px;
  width: 600px;
  border: none;
  display: flex;
  gap: 5px;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background-color: white;
}

#checkbox-container input {
  width: 30px;
}

.main-card-container {
  background-color: rgb(234, 41, 74);
  border: 1px solid black;
  width: 1250px;
  height: 75vh;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 35px;
  padding-top: 25px;
  padding-bottom: 25px;
  flex-wrap: wrap;
  overflow-y: scroll;
  gap: 40px;
}

.card {
  border-radius: 10px;
  width: 30%;
  transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  height: 490px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0);
  -webkit-transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card-img {
  height: 100%;
  width: 100%;
  display: flex;
  padding-top: 10px;
  border-radius: 10px 10px 0px 0px;
  -webkit-border-radius: 10px 10px 0px 0px;
  -moz-border-radius: 10px 10px 0px 0px;
  -ms-border-radius: 10px 10px 0px 0px;
  -o-border-radius: 10px 10px 0px 0px;
  background-size: cover;
  filter: drop-shadow(16px, 7px, 8px rgb(0, 0, 0));
  -webkit-filter: drop-shadow(16px, 7px, 8px rgb(0, 0, 0));
}

.card-img img {
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;

  padding-bottom: 10px;
  filter: drop-shadow(16px, 7px, 8px rgb(0, 0, 0));
  -webkit-filter: drop-shadow(16px, 7px, 8px rgb(0, 0, 0));
}

.card-info {
  height: 50%;
  width: 100%;
  border-radius: 0px 0px 10px 10px;
  -webkit-border-radius: 0px 0px 10px 10px;
  -moz-border-radius: 0px 0px 10px 10px;
  -ms-border-radius: 0px 0px 10px 10px;
  -o-border-radius: 0px 0px 10px 10px;
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.fix-style {
  margin-top: -5px;
}

.loader {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.jimu-primary-loading:before,
.jimu-primary-loading:after {
  position: absolute;
  top: 0;
  content: "";
}

.jimu-primary-loading:before {
  left: -19.992px;
}

.jimu-primary-loading:after {
  left: 19.992px;
  -webkit-animation-delay: 0.32s !important;
  animation-delay: 0.32s !important;
}

.jimu-primary-loading:before,
.jimu-primary-loading:after,
.jimu-primary-loading {
  background: #076fe5;
  -webkit-animation: loading-keys-app-loading 0.8s infinite ease-in-out;
  animation: loading-keys-app-loading 0.8s infinite ease-in-out;
  width: 13.6px;
  height: 32px;
}

.jimu-primary-loading {
  text-indent: -9999em;
  margin: auto;
  position: absolute;
  right: calc(50% - 6.8px);
  top: calc(50% - 16px);
  -webkit-animation-delay: 0.16s !important;
  animation-delay: 0.16s !important;
}

@-webkit-keyframes loading-keys-app-loading {
  0%,
  80%,
  100% {
    opacity: 0.75;
    box-shadow: 0 0 #076fe5;
    height: 32px;
  }

  40% {
    opacity: 1;
    box-shadow: 0 -8px #076fe5;
    height: 40px;
  }
}

@keyframes loading-keys-app-loading {
  0%,
  80%,
  100% {
    opacity: 0.75;
    box-shadow: 0 0 #076fe5;
    height: 32px;
  }

  40% {
    opacity: 1;
    box-shadow: 0 -8px #076fe5;
    height: 40px;
  }
}
