* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  overflow: hidden;
}

main {
  background-color: rgb(20, 21, 25);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main img {
  position: absolute;
  top: 11%;
  right: -2.5%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  filter: saturate(0);
  -webkit-filter: saturate(0);
  width: 140px;
  transition: 2s;
  -webkit-transition: 2s;
  -moz-transition: 2s;
  -ms-transition: 2s;
  -o-transition: 2s;
}

.saturate {
  filter: saturate(1);
  -webkit-filter: saturate(1);
  transition: 2s;
  -webkit-transition: 2s;
  -moz-transition: 2s;
  -ms-transition: 2s;
  -o-transition: 2s;
  transform: translate(-50%, -50%) scale(0.9) translateY(-4px);
  -webkit-transform: translate(-50%, -50%) scale(0.9) translateY(-4px);
  -moz-transform: translate(-50%, -50%) scale(0.9) translateY(-4px);
  -ms-transform: translate(-50%, -50%) scale(0.9) translateY(-4px);
  -o-transform: translate(-50%, -50%) scale(0.9) translateY(-4px);
  box-shadow: rgba(86, 188, 216, 0.183) 0px 7px 29px 0px;
}
