* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root {
  --font-geist: "Geist Sans", sans-serif;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  width: 10px;
  background-color: #21202099;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(36, 36, 36);
}
::-webkit-scrollbar-thumb:hover {
  background-color: black;
}

body {
  font-family: var(--font-geist);
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: rgb(19, 18, 18);
  font-weight: 600;
}

a:hover {
  color: rgb(6, 163, 181);
}

.site {
  margin-bottom: 40px;
  text-align: left;
  position: fixed;
  left: 50px;
}

main {
  min-height: 100vh;
  background-color: rgb(255, 252, 238);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 40px;
  position: relative;
  color: rgb(55, 55, 55);
}

.post {
  width: 800px;
  margin-bottom: 80px;
  padding: 10px;
}

h1 {
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: -1.5px;
  margin-bottom: 10px;
  color: black;
}

.post img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  margin-bottom: 10px;
}

.post-title {
  font-size: 1.8rem;
  font-weight: 800;
  letter-spacing: -1.8px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

/*LOADER*/
.loader {
  position: relative;
  width: 54px;
  height: 54px;
  border-radius: 10px;
}

.loader div {
  width: 8%;
  height: 24%;
  background: rgb(128, 128, 128);
  position: absolute;
  left: 50%;
  top: 30%;
  opacity: 0;
  border-radius: 50px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  animation: fade458 1s linear infinite;
}

@keyframes fade458 {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.25;
  }
}

.loader .bar1 {
  transform: rotate(0deg) translate(0, -130%);
  animation-delay: 0s;
  -webkit-transform: rotate(0deg) translate(0, -130%);
  -moz-transform: rotate(0deg) translate(0, -130%);
  -ms-transform: rotate(0deg) translate(0, -130%);
  -o-transform: rotate(0deg) translate(0, -130%);
}

.loader .bar2 {
  transform: rotate(30deg) translate(0, -130%);
  animation-delay: -1.1s;
}

.loader .bar3 {
  transform: rotate(60deg) translate(0, -130%);
  animation-delay: -1s;
}

.loader .bar4 {
  transform: rotate(90deg) translate(0, -130%);
  animation-delay: -0.9s;
}

.loader .bar5 {
  transform: rotate(120deg) translate(0, -130%);
  animation-delay: -0.8s;
}

.loader .bar6 {
  transform: rotate(150deg) translate(0, -130%);
  animation-delay: -0.7s;
}

.loader .bar7 {
  transform: rotate(180deg) translate(0, -130%);
  animation-delay: -0.6s;
}

.loader .bar8 {
  transform: rotate(210deg) translate(0, -130%);
  animation-delay: -0.5s;
}

.loader .bar9 {
  transform: rotate(240deg) translate(0, -130%);
  animation-delay: -0.4s;
}

.loader .bar10 {
  transform: rotate(270deg) translate(0, -130%);
  animation-delay: -0.3s;
}

.loader .bar11 {
  transform: rotate(300deg) translate(0, -130%);
  animation-delay: -0.2s;
}

.loader .bar12 {
  transform: rotate(330deg) translate(0, -130%);
  animation-delay: -0.1s;
  -webkit-transform: rotate(330deg) translate(0, -130%);
  -moz-transform: rotate(330deg) translate(0, -130%);
  -ms-transform: rotate(330deg) translate(0, -130%);
  -o-transform: rotate(330deg) translate(0, -130%);
}

.loader-z {
  display: none;
  bottom: 5%;
  left: 50%;
  z-index: 999;
  position: fixed;
}

.no-more-post {
  text-align: center;
  display: none;
  bottom: 0.2%;
  left: 50%;
  z-index: 999;
  position: absolute;
  font-size: 1rem;
  font-weight: bold;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  font-family: monospace;
}

aside {
  font-size: 0.8rem;
  font-family: monospace;
}

.post-author {
  margin-bottom: 10px;
  font-size: 1.5rem;
  font-weight: 800;
  color: black;
}

h2 {
  color: black;
}
