* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root {
  --font1: "Sawarabi Mincho", serif;
  --color1: #1d1a2f;
  --color2: #8bd450;
  --color3: #965fd4;
  --color4: #1d1a2f;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  background-color: var(--color4);
}

.link-dom {
  text-decoration: none;
  color: white;
  position: absolute;
  top: 50px;
  left: 50px;
  font-family: var(--font1);
  opacity: 0.75;
  font-size: 18px;
  width: 100%;
  z-index: 999;
  border-bottom: 1px solid var(--color3);
}
