* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  height: 100vh;
  background-color: rgb(15, 14, 22);
  display: flex;
  justify-content: center;
  align-items: center;
}

main input {
  width: 320px;
  padding: 8px;
  padding-left: 20px;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: rgb(236, 233, 233);
  margin-left: 22 px;
}

.wrapper {
  width: 1650px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 30px;
}

.movie-container {
  width: 100%; /* Cambiado de 1650px a 100% */
  border-radius: 10px;
  display: flex;
  padding: 25px;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  flex-wrap: wrap;
  min-height: 490px;
  overflow-y: auto;
}

.movie-card {
  width: 250px;
  height: 200px;
  background-color: rgba(54, 53, 53, 0.356);
  border-radius: 1px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
}
