* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:root {
  --color1: #0e100f;
  --color2: rgb(99, 254, 3);
  --color3: #fffce1;
  --color4: #7c7c6f;
  --color5: #ff8709;
}

::selection {
  background-color: rgba(62, 62, 62, 0.281);
}

body {
  overflow-x: hidden;
  background-color: var(--color1);
}

a {
  color: var(--color2);
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

h1 {
  text-align: center;
  color: var(--color3);
  font-weight: 800;
  letter-spacing: -2px;
  margin-top: 20px;
  font-size: 2rem;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

.gone {
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transform: translateX(-80px);
  -webkit-transform: translateX(-80px);
  -moz-transform: translateX(-80px);
  -ms-transform: translateX(-80px);
  -o-transform: translateX(-80px);
  opacity: 0;
}

span {
  font-weight: 800;
  color: var(--color2);
}

img {
  max-width: 100%;
  height: auto;
}

p {
  color: var(--color4);
}

.loader-svg {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.searchbar {
  width: 250px;
  padding: 10px 20px;
  border-radius: 28px;
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  -ms-border-radius: 28px;
  -o-border-radius: 28px;
  border: none;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  background-color: var(--color1);
  border: 1px solid var(--color4);
  color: var(--color5);
}

.searchbar:focus {
  outline: none;
  width: 250px;
  transition: 0.3s;
}

header {
  display: flex;
  justify-content: center;
  align-content: center;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.domain-not-found {
  position: absolute;
  text-align: center;
  text-wrap: balance;
  width: 400px;
  top: 300px;
  color: var(--color4);
  font-weight: 400;
  font-size: 0.8rem;
  opacity: 0;
  transition: 0.4s ease-in-out;
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -ms-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
}

.visible {
  opacity: 1;
  transition: 0.4s ease-in-out;
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -ms-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  pointer-events: all;
}

.hidden {
  opacity: 0;
  transition: 0.4s ease-in-out;
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -ms-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  pointer-events: none;
}

a {
  text-decoration: none;
}

.title {
  color: var(--color3) !important;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

.title span {
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

.title:hover span {
  color: var(--color5);
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

.menu {
  margin-top: 40px;
  height: 300px;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  pointer-events: all;
  transition: 0.4s ease-in-out;
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -ms-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transform: translateY(20px);
  -webkit-transform: translateY(20px);
  -moz-transform: translateY(20px);
  -ms-transform: translateY(20px);
  -o-transform: translateY(20px);
  position: absolute;
  top: 110px;
  z-index: 99999;
}

.up {
  transform: translateY(-20px);
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  -o-transform: translateY(-20px);
}

#posts {
  z-index: 99;
  min-height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 650px;
  gap: 80px;
  padding-top: 140px;
  padding-bottom: 80px;
}

h2 {
  color: var(--color3);
  font-weight: 100;
  text-wrap: balance;
  width: 600px;
}

.post-card img {
  width: 600px;
  height: 400px;
  object-fit: cover;
}

time {
  color: var(--color4);
}
hr {
  margin: 20px 0px
}

aside h2 {
  text-wrap: balance;
  width: 800px !important;
}

 li,span {
  color:  var(--color4) !important;
  margin-top: 20px;
}

.elementor-heading-title{
  margin: 30px 0px !important;
  text-align: left !important;
  font-weight: 400;
  text-wrap: balance;
}

.elementor-heading-title{
  margin-top: 20px !important;
}

.t-span{
  color: var(--color2) !important;
}

